# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file and use tab indentation (no size specified)
[*]
indent_style = tab
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
